.bg-primary-color {
  background-color: #fff;
}
.bg-seconary-color {
  background-color: #ece8ea;
}

.bg-dark-color {
  background-color: #000;
}

.primary-color {
  color: #000;
}

.seconary-color {
  color: #000;
}

#navbar {
  border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover {
  color: #7a7a7a;
}

#navbar a.active {
  border-bottom: 1px solid #000;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 40px;
}

.navbar-brand span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#slider {
  margin-top: 8em;
  margin-bottom: 1em;
}

#slider .carousel-caption {
  bottom: 2em;
}

#slider .carousel-caption h5 {
  font-size: 30px;
  text-shadow: 1.5px 1.5px #000;
}

.btn {
  border-radius: 20px;
}

#slider .btn {
  padding: 0.3 0.8em;
  font-size: 15px;
  margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i {
  color: #111;
  font-size: 3em;
}

.carousel-indicators [data-bs-target] {
  background-color: #222;
  opacity: 0.8;
}

.carousel-indicators .active {
  background-color: #000;
}

@media (min-width: 768px) {
  #slider .carousel-caption {
    bottom: 20em;
  }
  #slider .carousel-caption h5 {
    font-size: 4em;
  }

  #slider .btn {
    padding: 0.6 1.6em;
    font-size: 1.2em;
  }

  .carousel-indicators {
    bottom: 7em;
  }
}

#mini-banners {
  margin-bottom: 4em;
}

#mini-banners .card {
  padding: 2em 0.3em;
  border-radius: 10px;
}

#mini-banners i {
  font-size: 3.5em;
}
#mini-banners .card-title {
  margin-bottom: 1.5em;
}

#mini-banners .btn {
  margin-bottom: 1.5em;
  padding: 0.6em 1.2em;
}

@media (min-width: 768px) {
  #mini-banners {
    margin-top: -60px;
  }
}

#featured-container {
  margin-bottom: 4em;
}

.title {
  font-size: 1.75em;
  margin-bottom: 0.4em;
  position: realtive;
}

.title:before {
  width: 75px;
  border-top: 4px solid #7a7a7a;
  content: "";
  position: absolute;
  bottom: 2em;
}

#featured-images {
  margin-top: 2em;
}

#featured-images .col-md-4 {
  position: relative;
  cursor: pointer;
}

#featured-images .col-md-4:hover > .banner-content {
  opacity: 0.8;
}

#featured-images .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.6;
  transition: 0.5s;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.4em;
  }

  .title:before {
    bottom: 1.5em;
  }

  #featured-images .banner-content {
    opacity: 0;
  }
}
